:root {
  --ag-bg-color-blue: #1d2d3c;
  
  --ag-bg-card-color-blue: #112030;
}

.ag-bg-color{
  background-color: var(--ag-bg-color-blue);

}

.ag-bg-card-color{
   background-color: var(--ag-bg-card-color-blue);
}